@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Login</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger">
        @Model.Message
    </div>
}
<form method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="txtEmail" />
    </div>
    <div>
        <label>Email:</label>
        <input type="password" name="txtPassword" />
    </div>
    <button type="submit">Login</button>
</form>