@page
@model Learn_PE_V1.Pages.Login.LoginModel
@{
}

<h2>Login</h2>
<form method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="txtEmail" />
    </div>
    <div>
        <label>Email:</label>
        <input type="password" name="txtPassword" />
    </div>
     <button type="submit">Login</button>
</form>
